{{!< default}}

<section class="page-intro">
  <div class="page-intro__wrap">
    <h1 class="page-intro__title">{{title}}</h1>
    {{#if custom_excerpt}}<p class="page-intro__lede">{{custom_excerpt}}</p>{{/if}}
  </div>
</section>

<section class="section">
  <div class="wrap wrap--text prose">
    {{content}}
  </div>
</section>

{{> "donate-cta"}}
